.foto-perfil {
  width: auto;
  height: 20%;
  max-width: 20%;
  border-radius: 50%;
}

.area-principal {
  background-color: #027368;
}

.corPrimaria {
  background-color: #027368;
}
.corSecundaria {
  background-color: #2c3e50;
}

.corTerciaria {
  background-color: #9c9a964f;
}

.corBotão {
  background-color: #2c3e50;
  color: #fff;
}

.menu {
  border-radius: 3px !important; 
}

.menu:hover {
  background-color: #fff !important;
  color: #2c3e50 !important;
  transition: 0.5s;
}


p {
  font-family: 'helvetica Neue', Helvetica, Arial, sans-serif;
  color: black !important;
}

.icones {
  color: white;
  transition: all 0.5s;
}

.icones:hover {
  color: rgb(14, 13, 13);
}

.titulosBrancos {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white !important;
}

.titulosVerdes {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #027368;
}

.textosBrancos {
  color: white !important;
}

.card-body {
  height: 300px;
}
